In [2]:
%%capture
%load_ext sql

In [3]:
import getpass
username = 'ahmed'   # change this to your username
password = getpass.getpass()

········

In [4]:
%sql mysql+pymysql://$username:$password@db.cs3375.us  # connect to the database

0 rows affected.

[]

In [5]:
%%capture
%%sql
USE ahmed_university2;

[]

In [22]:
sid = %sql SELECT person_id FROM student limit 6;
sid = list(d[0] for d in sid)
clubs = ["'TriBeta'", "'PANDAS'", "'Pen 15 Club'", "'Kool Kids Klub'", "'American Chemical Society'", "'Pre-health Professionals'"]
mis = ["'We are a science.'", "'We are Python enthusiats.'", "'We are pen collectors.'", "'We are the kool kids of the school'", "'We are american undergraduate chemist'", "'We are future health professions'"]
qlist = [];
query = "INSERT IGNORE INTO STUDENT_CLUBS (club_name,primary_contact,mission_statement) VALUES "
for index in range(len(sid)):
    qlist.append("(" + clubs[index] + "," + str(sid[index]) + "," + mis[index] + ")")
query += ','.join(qlist)
%sql $query

6 rows affected.
6 rows affected.

[]

In [33]:
import random
from faker import Faker
fake = Faker()
clubs = %sql SELECT club_name FROM STUDENT_CLUBS;
clubs = list("'"+d[0]+"'" for d in clubs)
for club in clubs:
    start_date = fake.date_time_this_century().isoformat()[0:10]
    query2 = """
    INSERT IGNORE INTO MEMBERSHIP
        SELECT {club} as club_name, person_id as member_id, '{start_date}' as start_id, NULL as end_date
            FROM student
            WHERE RAND()<0.02
    """.format(club=club, start_date=start_date)
    %sql $query2

6 rows affected.
53 rows affected.
67 rows affected.
72 rows affected.
60 rows affected.
67 rows affected.
52 rows affected.

/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'TriBeta-5474' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'TriBeta-2751' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'TriBeta-9440' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'PANDAS-2863' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'PANDAS-4444' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Pen 15 Club-9313' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Pen 15 Club-2580' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Pen 15 Club-4351' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Pen 15 Club-8654' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Kool Kids Klub-6528' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Kool Kids Klub-9779' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'American Chemical Society-2516' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'American Chemical Society-5847' for key 'PRIMARY'")
  result = self._query(query)
/usr/local/lib/python3.4/dist-packages/pymysql/cursors.py:166: Warning: (1062, "Duplicate entry 'Pre-health Professionals-5491' for key 'PRIMARY'")
  result = self._query(query)